body {
    background: url("../images/Shifter.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.text-body {
    margin-top: 35px;
    overflow: hidden;
    backface-visibility: hidden;
    perspective: 1000;
    transform: translate3d(0,0,0);
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0,0,0);
}

.container {
    display: flex;
    justify-content: center;
    align-content: center;
}

/* Name/Intro/Title Animation Start */
    div {
    overflow: hidden;
    white-space: nowrap;
    }

    .intro { 
    animation: showup 7s;
    color: whitesmoke;
    }

    .name {
    animation: reveal 7s;
    color: whitesmoke;
    /* margin-bottom: -16px; */
    }

    .title {
    animation: slidein 7s;
    color: whitesmoke;
    }

    @keyframes showup {
        0% {opacity: 0;}
        20% {opacity: 1;}
        80% {opacity: 1;}
        100% {opacity: 1;}
    }

    @keyframes slidein {
        0% { margin-left: -1000px; }
        20% { margin-left: -1000px; }
        35% { margin-left: 0px; }
        100% { margin-left: 0px;}
    }

    @keyframes reveal {
        0% {opacity: 0; width: 0px;}
        20% {opacity: 1;width: 0px;}
        30% {width: 100%;}
        80% {opacity: 1;}
        100% {opacity: 1; width: 100%;}
    }
/* Text Animation End */

/* Button animation Start */
    #site-button {
        animation: reveal 15s;
        /* color: whitesmoke; */
    }

    @keyframes reveal {
        0% {opacity: 0;}
        20% {opacity: 0;}
        30% {width: 100%}
        80% {opacity: 1;}
        100% {opacity: 1; width: 100%}
    }
/* Button Animation End */