body {
    background: url("../images/Shifter.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 60px;
    padding-top: 40vh;
    height: 100vh;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0,0,0);
}

/* Text Animation Start */
    div {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    }

    .intro { 
    animation: showup 7s infinite;
    color: whitesmoke;
    }

    .name {
        animation: reveal 7s infinite;
        color: whitesmoke;
    }

    .title {
    width: 0px;
    animation: reveal 7s infinite;
    color: whitesmoke;
    }

    .title span {
    margin-left: -355px;
    animation: slidein 7s infinite;
    }

    @keyframes showup {
        0% {opacity:0;}
        20% {opacity:1;}
        80% {opacity:1;}
        100% {opacity:0;}
    }

    @keyframes slidein {
        0% { margin-left:-800px; }
        20% { margin-left:-800px; }
        35% { margin-left:0px; }
        100% { margin-left:0px; }
    }

    @keyframes reveal {
        0% {opacity:0;width:0px;}
        20% {opacity:1;width:0px;}
        30% {width:355px;}
        80% {opacity:1;}
        100% {opacity:0;width:355px;}
    }
/* Text Animation End */